{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title_block %} My Videos {% endblock %}
{% block css_block %}

{% endblock %}

{% block body_block %}
{% include "navbar.html" %}
<div class="container my-5">
    <div class="row">
        {% for video in user.post_user.all %}
        <div class="col-md-6 col-sm-12 col-lg-4">
            <figure class="card card-product">
                <div class="img-wrap">
                    <img src="/media/{{video.thumbnail}}" class="img-fluid card-img-top" alt="">
                </div>
                <figcaption class="info-wrap">
                    <a href="{% url 'Stream_App:details_videos' slug=video.slug %}"
                        class="text">{{video.video_title}}</a>
                    <div class="action-wrap">
                        <div class="price-wrap h5">
                            <small><span class="price-new"> {{video.publish_date}}</span></small>
                        </div>
                    </div>
                </figcaption>
            </figure>
        </div>

        {% endfor %}
    </div>
</div>



{% endblock %}