{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title_block %} Details Video {% endblock %}
{% block css_block %}

{% endblock %}

{% block body_block %}
{% include "navbar.html" %}
<div class="container">
    <div class="video-details">
        <h3>{{video.video_title}}</h3>


        <video src="/media/{{video.video_content}}" controls width="750px" height="500px">
        </video> <br>
        <img src="/media/{{video.user.profile.profile_picture}}" alt="" width="23px" height="23px"
            class="rounded-circle">{{video.user.username}} <br>
        <small class="text-muted"><strong>Publish date: </strong>{{video.publish_date}}</small><br>
        <small class="text-muted"><strong>Updated on: </strong>{{video.update_date}}</small>
    </div>
    <hr>

</div>
{% endblock %}